<div class="page-header text-center">
    <h1>Editing <%= controller_name.singularize.capitalize %> <%= @refable.name %></h1>
</div>

<%= render 'form' %>

<div class="v-spaced">
    <%= link_to "Back to #{@refable.name}", polymorphic_path(@refable) %>
</div>
