<h1>Publishers</h1>

<div class="resource-listing">
<% @publishers.each do |p| %>
    <div class="row-fluid">
        <div class="span10">
            <%= link_to p.name, p %>
        </div>
        <div class="span2">
            <div class="btn-group pull-right">
                <%= link_to content_tag(:i, nil, class: "icon-pencil"),
                    edit_publisher_path(p), class: "btn btn-mini", title: "Edit" %>
                <%= link_to content_tag(:i, nil, class: "icon-trash"),
                    p, method: :delete, class: "btn btn-mini", title: "Delete" %>
            </div>
        </div>
    </div>
<% end %>
</div>

<%= paginate @publishers %>
