
<h1><%= @publisher.name %></h1>

<p><a href="<%= edit_publisher_path(@publisher) %>" class="btn">Edit</a></p>

<div class="row-fluid">
    <% if @publisher.policy %>
        <div class="policy-box span9">
            <h3>Publisher Policy</h3>
            <%= render :partial => "search/policy", :object => @publisher.policy %>
        </div>
    <% else %>
        <div class="alert">No policy for this publisher.</div>
    <% end %>
</div>

<h3>Journals</h3>
<ul>
    <% @publisher.journals.each do |j| %>
        <li><%= link_to j.name, j %></li>
    <% end %>
</ul>
