<h1>Journals</h1>

<div class="resource-listing">
<% @journals.each do |j| %>
    <div class="row-fluid">
        <div class="span10">
            <%= link_to j.name, j %>
        </div>
        <div class="span2">
            <div class="btn-group pull-right">
                <%= link_to content_tag(:i, nil, class: "icon-pencil"),
                    edit_journal_path(j), class: "btn btn-mini", title: "Edit" %>
                <%= link_to content_tag(:i, nil, class: "icon-trash"),
                    j, method: :delete, class: "btn btn-mini", title: "Delete" %>
            </div>
        </div>
    </div>
<% end %>
</div>

<%= paginate @journals %>