<div class="page-header text-center">
    <h1>New Journal for <%= @publisher.name %></h1>
</div>

<%= render 'form' %>

<div class="v-spaced">
    <%= link_to "Back to #{@publisher.name}", publisher_path(@publisher) %>
</div>
