<div class="control-group">
    <div class="controls">
      <span class="input-xlarge uneditable-input" title="<%= refvalue %>">
        <%= refvalue %>
      </span>
      <button type="button" class="btn delete_alias" title="Delete alias"
        data-url="<%= url %>">
        <i class="icon-trash"></i>
      </button>
    </div>
</div>