<div class="page-header text-center">
    <h1>Editing Policy for <%= @policy.policyable.name %></h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%= render 'form' %>
    </div>
</div>
