<% content_for :script do %>
    <% render 'sherpa' %>
<% end %>

<div class="page-header text-center">
    <h1>New Policy for <%= @refable.name %></h1>
</div>

<div class="row">
    <div class="col-md-8">
        <%= render 'form' %>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Matching SHERPA/RoMEO Policies</h4>
        <div id="sherpa-policies">
            <span id="policy-loading"><em>Looking for policies...</em></span>
        </div>
    </div>
</div>

<div class="v-spaced">
    <%= link_to "Back to #{@refable.name}", polymorphic_path(@refable) %>
</div>
